.column-container {
  min-width: 272px;
  width: 272px;
  overflow-y: auto;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: .5rem;
}

.column {
  &>div{
    min-height: 5px;
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 .2rem .5rem;
}
