.new-task-btn {
  order: 1.79e308;
}

.column-container {
  padding: 0.5rem 0 !important;
  min-width: 272px !important;
  width: 272px !important;
  overflow-y: hidden;
}

.column {
  overflow-y: auto;
}

.column-title {
  padding: 0 0.5em;
}

.column-item {
  padding: 0.5em;
}
