.welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
}

.btns-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.btn {
  &.override {
    font-size: 18px;
    font-weight: 500;

    &:nth-child(1) {
      margin-right: 20px;
    }
  }
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-start;
  
  & img {
    height: 100%;
    @media (max-width: 1170px) {
      order: 1;
    } 
    @media (max-width: 650px) {
      width: 70%;
    }
  }

  @media (max-width: 1170px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}

.info-text {
  width: 60%;
  align-self: center;
  @media (max-width: 1170px) {
    order: 2;
    width: 80%;
    text-align: center;
  }
  @media (max-width: 500px) {
    font-size: 18px !important;
  }
}

.member {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  
  @media (max-width: 850px) {
    flex-direction: column;
    align-items: center;
  }

  &-wrapper {
    width: 48%;
    margin: 0 10px;
    
    @media (max-width: 1170px) {
      width: 80%;
    }

    @media (max-width: 850px) {
      width: 70%;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &-avatar {
    &.override {
      width: 50%;
      height: auto;
      border-radius: 50%;
      background-color: #fff;

      @media (max-width: 1170px) {
        width: 35%;
      }

      @media (max-width: 850px) {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & img {
      width: 40px;
      height: 40px;
    }
  }
}