.settings {
  &_block {
    display: flex;
    flex-direction: column;
    width: 80%;

    @media (max-width: 1100px) {
      order: 2;
      margin-top: 30px;
    }

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &_item {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 20px 0;

    @media (max-width: 1400px) {
      width: 35%;
    }

    @media (max-width: 1100px) {
      width: 45%;
    }

    @media (max-width: 1100px) {
      width: 65%;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &_wrapper {
    padding: 20px 0;
  }
}

.flex_container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}