.new-column-btn {
  width: 272px !important;
  min-width: 272px !important;
  align-self: flex-start;
}

.back-page-button {
  align-self: flex-start;
}

.board-wrapper {
  height: 100%;
  display: flex;
}

.board {

}
