.footerWrapper {
  height: 60px;
}

.logo {
  width: 100px;
  height: 30px;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.links_wrapper {
  display: flex;
  max-width: 70%;
  justify-content: space-between;
  column-gap: 10px;
}

.git_logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .links_wrapper {
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .footerWrapper {
    height: 150px;
  }

  .links_wrapper {
    max-width: 100%;
    column-gap: 10px;
  }

  .git_logo {
    width: 20px;
    height: 20px;
  }
}
