body {
  margin: 0;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #443e3e;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2c292b;
  }
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
